[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SoundofGoodbye
[access "refs/for/refs/*"]
	read = group user/SoundofGoodbye
	push = group user/SoundofGoodbye
	label-Code-Review = -2..+2 group user/SoundofGoodbye
	label-Verified = -1..+1 group user/SoundofGoodbye
	rebase = group user/SoundofGoodbye
	removeReviewer = group user/SoundofGoodbye
	submit = group user/SoundofGoodbye
[access "refs/heads/*"]
	read = group user/SoundofGoodbye
	create = group user/SoundofGoodbye
	push = +force group user/SoundofGoodbye
	pushMerge = group user/SoundofGoodbye
[access "refs/tags/*"]
	push = +force group user/SoundofGoodbye
	pushTag = group user/SoundofGoodbye
	pushSignedTag = group user/SoundofGoodbye
